{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunday Portofolio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="#">MyWebsite</a>
        </div>
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Tech Stack">Tech Stack</a></li>
            <li><a href="#Projects">Projects</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
        <ul class="nav-links-sosmed">
            <li><a href="https://github.com/SundayBPM" target="_blank">
                <img src="{% static 'img/github-142-svgrepo-com.svg' %}" alt="">
            </a></li>
            <li><a href="https://www.instagram.com/sunday_b.p.m/" target="_blank">
                <img src="{% static 'img/instagram-167-svgrepo-com.svg' %}" alt="">
            </a></li>
            <li><a href="https://www.linkedin.com/in/sundaybpm" target="_blank">
                <img src="{% static 'img/linkedin-round-svgrepo-com.svg' %}" alt="">
            </a></li>
        </ul>
    </nav>
    <div class="profile">
        <div class="intro">
            <h3>Hi 👋,</h3>
            <h3>My name is</h3>
            <h3>Sunday B. Putera Mandiri</h3>
            <h3>DevOps intern at Metrocom Global Solusi</h3>
            <h3>Data and Business Analyst Enthusiast</h3>
        </div>
        <div class="profile-img">
            <img src="{% static 'img/foto-profil.jpg' %}" alt="Sunday's Picture"">
        </div>
    </div>
    <div class="tech-stack-intro">
        <h3>My Tech Stack</h3>
        <p>Technologies I've been working with recently</p>
    </div>
    <div class="tech-stack">
        <img src="{% static 'img/html-5-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/css-3-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/javascript-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/node-js-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/laravel-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/flask-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/django-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/python-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/mysql-logo-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/postgresql-logo-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/linux-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/docker-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/github-142-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/gitlab-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/figma-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/looker-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/tableau-svgrepo-com.svg' %}" alt="html">
        <img src="{% static 'img/power-bi-icon.svg' %}" alt="html">
    </div>
    <div class="project-post-header">
        <h3>Projects</h3>
        <p>Things I've build so far</p>
    </div>
    <div class="projet-post">
        {% for x in "123456" %}
        <div class="post-card">
            <img src="{% static 'img/no-img.jpg' %}" alt="">
            <div class="post-content">
                <h3>Tittle</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi autem accusantium architecto dolorem ipsum non quidem exercitationem voluptates iusto? Consectetur culpa quos voluptatibus libero qui quibusdam fugit voluptatem iste!</p>
                <a href="">link preview</a>
                <a href="">link github</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>